.header {
  width: 100%;
  margin: 0px auto;
  font-family: Pretendard, sans-serif;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 28px;
  background: initial;
  position: relative;
  height: 62px;
}

.header .group-01,
.header .group-02 {
  display: flex;
  background: rgba(255, 255, 255, 0);
}

.header .group-02 img {
  width: 24px;
  margin-left: 14px;
}

.group-02 ul li ul {
  flex-direction: column;
  background: rgb(255, 255, 255);
  font-size: 16px;
  top: 3.2rem;
  right: 1.5rem;
  width: auto;
  padding: 10px 12px;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  box-shadow: rgb(221, 221, 221) 0px 0px 8px 0px;
  display: none !important;
}

.group-02 ul li:hover ul {
  opacity: 1;
  transition: all 1s ease 0s;
  background: rgb(255, 255, 255);
  display: block !important;
}

.group-02 ul li ul li {
  background: rgb(255, 255, 255);
  padding: 12px 16px !important;
}

.group-02 ul li ul li:hover {
  background: rgb(242, 249, 248);
  border-radius: 12px;
}

.group-02 ul li ul li a {
  width: 63px;
}

.header .group-01 ul li,
.header .group-02 ul li {
  display: flex;
  font-size: 14px;
  align-items: center;
  padding: 14px 10px;
}

.header .group-01 ul,
.header .group-02 ul {
  display: flex;
  background: initial;
}

.header .group-01 img {
  width: 107px;
  height: 22px;
}

.header .group-02 .btn-login a {
  padding: 10px 20px;
  background: rgb(0, 201, 196);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.inner {
  width: 1080px;
  min-width: 1080px;
  margin: 0px auto;
}

.section-01 img {
  position: absolute;
}

.section-01 p:first-child {
  font-size: 52px;
  padding-top: 120px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.section-01 p:nth-child(2) {
  margin-top: 24px;
  font-size: 24px;
  color: rgb(45, 61, 61);
}

.section-01 p:nth-child(2) strong {
  font-weight: 700;
}

.visual {
  margin: 0px auto;
  text-align: center;
}

.scroll-effect {
  position: absolute;
  top: 60%;
  left: 0px;
  right: 54.75%;
  transform: translate(200%, -50%);
}

.scroll {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  animation: 1.5s ease 0s infinite normal none running down;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-left: 2px solid rgb(130, 143, 159);
  border-bottom: 2px solid rgb(130, 143, 159);
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0px);
  }

  20% {
    transform: translateY(6px);
  }

  40% {
    transform: translate(0px);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0px);
  }

  20% {
    transform: translateY(6px);
  }

  40% {
    transform: translate(0px);
  }
}

.visual .img {
  position: relative;
  top: 30px;
}

.visual .img .img-01 {
  left: 0px;
  width: 480px;
  right: 0px;
  margin: 0px auto;
}

.visual .img .img-02 {
  top: 116px;
  width: 360px;
  left: 54%;
}

.visual .img .img-03 {
  top: 340px;
  left: 25%;
  width: 480px;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.section-01 {
  color: rgb(255, 255, 255);
  background: linear-gradient(129deg, rgb(255, 255, 255), rgb(242, 252, 255), rgb(232, 249, 248), rgb(235, 215, 255)) 0% 0% / 400% 400%;
  animation: 15s ease 0s infinite normal none running AnimationName;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  text-align: center;
  margin-top: 61px;
  position: relative;
}

.visual-img {
  height: 529px;
}

.section-02 {
  position: relative;
}

.bg-round {
  position: relative;
}

.bg-round img {
  position: absolute;
}

.bg-round img:nth-child(1) {
  top: 5rem;
  right: 17rem;
  width: 22px;
}

.bg-round img:nth-child(2) {
  top: 21rem;
  left: 11rem;
  width: 10px;
}

.bg-round img:nth-child(3) {
  top: 25rem;
  left: 6rem;
  width: 22px;
}

.bg-round img:nth-child(4) {
  top: 8rem;
  right: 12rem;
  width: 10px;
}

.main-text {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.bubble {
  padding: 15px 38px;
  background-color: rgb(255, 255, 255);
  right: 0px;
  left: 0px;
  top: 12.5rem;
  margin: 0px auto;
  text-align: center;
  font-size: 16px;
  position: absolute;
  display: inline-block;
  border-radius: 30px;
  width: 347px;
  color: rgb(45, 61, 61);
  box-shadow: rgba(170, 170, 170, 0.29) 0px 0px 8px 0px;
}

.bubble strong {
  font-weight: 600;
}

.bubble::after {
  content: "";
  background: url("../img/bubbe.png") 0px 0px / 65px no-repeat;
  top: 1.5rem;
  left: 16.5rem;
  width: 80px;
  height: 50px;
  position: absolute;
}

.box-section {
  margin-top: 8.4rem;
}

.box-section ul {
  display: flex;
  justify-content: center;
}

.box-section ul li {
  display: flex;
  margin: 10px;
}

.box-section .box-one {
  display: flex;
  padding: 40px 131px;
  background-color: rgb(255, 255, 255);
}

.box-section .box-two {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 76px;
}

.box-section .box-thr {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 70px;
}

.box-section .box-for {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 131px;
}

.box-one,
.box-two,
.box-thr,
.box-for {
  border-radius: 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: rgb(255, 255, 255) 2px 1000px 1px inset;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.text-one p {
  text-align: center;
  margin-top: 3rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 5rem;
  font-size: 18px;
  color: rgb(120, 127, 127);
}

.section-03 {
  background: rgb(244, 251, 251);
}

.main-text {
  margin-top: 90px;
}

.section p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-03-img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 90px;
}

.section-03-img img {
  width: 75%;
}

.section-04 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-04 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-04-img {
  text-align: center;
}

.section-04-img img:nth-child(1) {
  text-align: center;
  width: 75%;
  margin-top: 40px;
}

.section-04-img img:nth-child(2) {
  width: 72%;
}

.section-04-img img:nth-child(3) {
  width: 78%;
  margin-top: 15px;
}

.section-04-img img:nth-child(4) {
  width: 70%;
  margin-top: 24px;
}

.section-04-img img:nth-child(5) {
  width: 67%;
  margin-top: 32px;
}

.section-04-img img:nth-child(6) {
  width: 60%;
  margin-top: 32px;
}

.section-05 {
  margin-top: 90px;
  position: relative;
}

.section-05 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-05 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-05 .bg img:nth-child(1) {
  position: absolute;
  width: 18%;
  right: 17rem;
  top: -1rem;
  z-index: -1;
}

.section-05 .bg img:nth-child(2) {
  position: absolute;
  width: 18%;
  left: 22%;
  z-index: -1;
  top: 2rem;
}

.section-05-img,
.section-06-img {
  text-align: center;
  margin-top: 102px;
}

.section-05-img img {
  width: 75%;
}

.section-06 {
  background: linear-gradient(45deg, rgb(240, 244, 255), rgb(241, 250, 254), rgb(253, 252, 243));
  margin-top: 90px;
}

.section-06 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-06 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-06-img {
  margin-top: 32px;
  position: relative;
  z-index: 10;
  margin-bottom: 80px;
}

.section-06-img img {
  width: 85%;
  z-index: 1;
}

.section-06-img img:nth-child(2) {
  width: 58%;
  margin-top: 32px;
}

.sub-img img:first-child {
  position: absolute;
  width: 20%;
  top: 29rem;
  left: 15rem;
  z-index: -1;
}

.sub-img img:nth-child(2) {
  width: 20%;
  position: absolute;
  z-index: -1;
  top: 33rem;
  right: 18rem;
}

.section-07 .layout-box ul {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.section-07 .layout-box ul li {
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: rgba(112, 133, 134, 0.23) 0px 0px 16px 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  margin: 0px 12px;
}

.section-07 .layout-box ul li img {
  width: 27%;
  padding: 40px 0px 0px;
  box-sizing: border-box;
}

.section-07 .layout-box ul li span {
  font-size: 20px;
  padding: 30px 0px 14px;
  color: rgb(45, 61, 61);
  font-weight: 500;
}

.section-07 .layout-box ul li p {
  margin-bottom: 42px;
}

.section-07 .layout-box ul li p strong {
  font-weight: 800;
  font-size: 20px;
  color: rgb(102, 61, 251);
}

.section-07 .section-sub-text {
  text-align: center;
  padding: 52px 0px 90px;
  font-size: 20px;
  font-weight: 500;
}

.section-08 {
  background: rgb(247, 249, 242);
}

.section-08 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-08 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.swiper {
  display: flex;
  margin-top: 70px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-pagination {
  top: 18.5rem !important;
}

.swiper-pagination-bullet {
  background-color: rgb(127, 127, 127) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(80, 36, 255) !important;
  width: 17px !important;
  border-radius: 0.3rem !important;
}

.content-box {
  background: rgb(255, 255, 255);
  padding: 40px 24px;
  box-shadow: rgb(125, 128, 110) 2px 4px 14px -12px;
  border-radius: 20px;
  margin: 0px 12px 90px 0px;
  border: 1px solid rgb(240, 242, 234);
}

.content .img ul {
  display: flex;
  align-items: center;
}

.content .img ul li .main-img {
  padding: 22px 19px;
  background: rgb(209, 209, 209);
  border-radius: 100px;
}

.content .img ul li p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 6px;
  margin-left: 16px;
}

.content .img ul li p:first-child {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 700;
}

.text p {
  margin: 40px 12px 0px 0px;
  font-size: 18px;
  color: rgb(45, 61, 61);
  line-height: 1.6;
}

.section-09 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-09 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-09 .button-payment {
  border-radius: 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: rgb(255, 255, 255) 2px 1000px 1px inset;
  box-sizing: border-box;
  width: 228px;
  font-size: 24px;
  margin: 90px auto 0px;
  position: relative;
  font-weight: 600;
}

.section-09 .button-payment strong {
  position: absolute;
  font-size: 18px;
  top: 16px;
  left: 23px;
  color: rgb(102, 61, 251);
}

.section-09 .button-payment button {
  border: none;
  background: rgb(255, 255, 255);
  padding: 16px 20px 16px 67px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.button-payment:hover {
  background-color: rgb(245, 245, 245);
}

.section-09 span {
  text-align: center;
  display: block;
  margin-bottom: 90px;
  margin-top: 16px;
}

.section-09 span a {
  color: rgb(121, 134, 134);
  text-decoration: underline;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(230, 232, 234);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  padding: 70px 16px;
  position: absolute;
  justify-content: space-between;
  z-index: 9999;
  color: rgb(114, 118, 120);
}

.footer .inner {
  display: flex;
  justify-content: space-between;
}

.footer .left .left-01.color,
.footer .left .left-02.color,
.footer .right.color p a {
  color: rgb(114, 118, 120);
}

.footer .left {
  display: flex;
  flex-direction: column;
}

.footer .left .left-01 {
  display: flex;
  margin-bottom: 14px;
  position: relative;
}

.footer .left .left-01 p {
  padding: 0px 18px 0px 0px;
  color: rgb(114, 118, 120);
}

.footer .left .left-01 p:first-child::after,
.footer .left .left-02 p:first-child::after {
  display: none;
}

.footer .left .left-01 p::after,
.footer .left .left-02 p::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  margin-left: -9px;
}

.footer .left .left-02 {
  display: flex;
  position: relative;
}

.footer .left .left-02 p {
  padding: 0px 18px 0px 0px;
}

.footer .right {
  display: flex;
}

.footer .right p {
  font-weight: 800;
  padding: 0px 12px;
}

.footer .right p a {
  color: rgb(114, 118, 120);
}

.footer-02 {
  width: 100%;
  margin-top: 35px;
  min-width: 1200px;
  display: flex;
  padding: 20px 23px 20px 277px;
  border-top: 1px solid rgb(222 229 231);
  justify-content: space-between;
  max-width: 3000px;
}

.footer-02 .left {
  display: flex;
  flex-direction: column;
}

.footer-02 .left-01.color {
  display: flex;
}

.footer-02 .left-01.color p {
  padding: 0px 20px 0px 0px;
  font-size: 12px;
  color: rgb(114, 118, 120);
}

.footer-02 .left-02.color {
  display: flex;
  font-size: 12px;
  padding: 12px 0px;
}

.footer-02 .left-02.color p {
  padding: 0px 20px 0px 0px;
  color: rgb(114, 118, 120);
  font-size: 12px;
}

.footer-02 .right.color {
  font-size: 13px;
  display: flex;
}

.footer-02 .right.color p {
  padding: 0px 16px;
}

.footer-02 .right.color p a {
  color: rgb(114, 118, 120);
  font-size: 12px;
  font-weight: 600;
}

.back-to-position {
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.back-to-position.to-bottom {
  transform: translateY(10px);
}

.back-to-position.to-up {
  transform: translateY(40px);
}

.back-to-position.to-down {
  transform: translateY(-40px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateY(0px);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.2s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.8s;
}

.box {
  border-radius: 20px;
  box-shadow: rgba(222, 227, 233, 0.5) 1px 0px 12px 3px;
  padding: 30px;
  margin: 12px;
}

.width {
  width: 600px;
  max-width: 540px;
  margin: 0px auto;
}

.information {
  margin-top: 120px;
}

.information h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 0px 12px 20px;
}

.mypage p,
.pay p,
.membership p,
.session p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 34px;
}

.member ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.member ul li {
  width: 100%;
  margin: 0px 0px 15px;
}

.member ul li:first-child {
  width: 24%;
}

.member ul li p {
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.pay .box span {
  font-size: 14px;
  color: rgb(148, 161, 161);
  text-align: center;
  display: block;
  padding: 0px 0px 16px;
}

.card-box {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(64, 178, 226), rgb(5, 189, 185), rgb(27, 213, 225));
}

.card-box img {
  width: 90px;
  position: absolute;
  top: 22%;
  left: 1.4rem;
  opacity: 0.8;
}

.kakako {
  margin-top: 16px;
  position: relative;
  border-radius: 16px;
  background: rgb(250, 225, 0);
}

.kakako strong {
  position: absolute;
  color: rgb(51, 28, 6);
  font-weight: 600;
  top: 33%;
  left: 5%;
}

.membership span {
  font-size: 14px;
  color: rgb(148, 161, 161);
  text-align: center;
  display: block;
  padding: 0px 0px 16px;
}

.plan-text {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 34px;
}

.plan-text p {
  margin: 0px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.plan p {
  color: rgb(148, 161, 161);
  font-size: 14px;
  font-weight: 400;
  margin: 0px 8px;
}

.plan img {
  width: 22px;
  height: 22px;
}

.free-more {
  padding: 20px;
  background: linear-gradient(60deg, rgb(198, 248, 245), rgb(249, 253, 254), rgb(239, 231, 254));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
}

.free-more .free-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.free-more .free-text p {
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 500;
}

.free-more .free-text span {
  font-size: 13px;
  text-align: left;
  padding: 0px;
}

.free-more a {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: rgb(5, 189, 185);
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.free-more a:hover {
  background-color: rgb(16, 175, 172);
}

.session {
  margin-bottom: 90px;
}

.session .box-list ul {
  display: flex;
  flex-direction: column;
}

.session .box-list ul li {
  display: flex;
  flex-direction: column;
}

.session .box-list ul li p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 16px;
}

.session .box-list ul li:nth-child(2) {
  display: flex;
  flex-direction: initial;
  margin-bottom: 18px;
}

.session .box-list ul li:nth-child(2) .now-session ul {
  display: flex;
}

.session .box-list ul li:nth-child(2) .now-session ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.session .box-list ul li:nth-child(2) .now-session ul li p {
  font-size: 14px;
  margin: 1px;
}

.session .box-list ul li:nth-child(2) .now-session {
  margin: 0px 0px 0px 12px;
}

.session .box-list ul li:nth-child(2) img {
  width: 38px;
  height: 38px;
}

.session .box-list ul li:nth-child(2) .now-session ul li strong {
  color: rgb(5, 189, 185);
  font-size: 14px;
}

.session .box-list ul li:nth-child(3) {
  display: inline;
}

.membership-pay {
  margin: 150px auto;
}

.membership-pay h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.membership-pay h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: rgb(45, 61, 61);
}

.membership-pay .pay-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.membership-pay .pay-list .to-pay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

.to-pay .membership-to-pay {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.to-pay .membership-to-pay p {
  font-size: 26px;
  font-weight: 700;
  margin-right: 12px;
  color: rgb(5, 189, 185);
}

.to-pay .membership-to-pay span {
  font-size: 12px;
  padding: 9px 16px;
  border-radius: 6px;
  border: 1px solid rgb(5, 189, 185);
  background: rgb(243, 253, 252);
}

.to-pay .more a {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(148, 161, 161);
}

.subscription {
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid rgb(214, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription .year-month p {
  font-size: 20px;
  font-weight: 700;
}

.subscription .year-month span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(148, 161, 161);
}

.subscription .much {
  width: 40%;
  display: flex;
  align-items: center;
}

.subscription .much p {
  font-size: 30px;
  font-weight: 700;
  color: rgb(45, 61, 61);
  margin-right: 8px;
}

.subscription .much span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(45, 61, 61);
}

.agree {
  position: relative;
}

.agree.marketing label {
  margin: 12px 21px;
}

.agree.box-chk label {
  margin: 12px 21px;
  font-size: 13px;
}

.agree.free label {
  margin: 16px 18px;
  font-size: 13px;
}

.agree.choice label {
  margin: 9px 7px;
  font-size: 13px;
}

.agree input {
  display: none;
}

.agree label {
  display: flex;
  align-items: center;
  margin: 20px 20px 40px;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0px 0px 6px;
  color: rgb(91, 100, 100);
}

.agree label::before {
  content: "";
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
}

.agree input:checked+label::before {
  content: "";
  width: 18px;
  height: 17px;
  background: url("../img/chbox_icon.png") 3px 4px / 10px no-repeat rgb(5, 189, 185);
  border: 1px solid rgb(5, 189, 185);
}

.pay-infomation {
  margin-bottom: 46px;
  border-radius: 20px;
  border: 1px solid rgb(222, 227, 233);
  background: rgb(255, 255, 255);
  display: flex;
  padding: 22px;
  flex-direction: column;
}

.pay-infomation .cards-kind {
  display: flex;
  align-items: center;
}

.pay-infomation .cards-kind p {
  font-size: 14px;
  color: rgb(45, 61, 61);
  margin: 0px;
  font-weight: 400;
  padding: 6px 10px;
  border-radius: 6px;
  background: rgb(243, 253, 252);
  border: 1px solid rgb(5, 189, 185);
}

.pay-infomation .cards-kind img {
  width: 48px;
  height: 28px;
  margin-left: 8px;
}

.pay-infomation .cards-kind span {
  font-size: 14px;
  padding: 0px;
  font-weight: 400;
  margin-left: 8px;
}

.pay-infomation .cards-list-box {
  display: flex;
  flex-direction: row;
}

.cards-list-box .num ul,
.cards-list-box .term ul {
  display: flex;
  margin-top: 30px;
}

.cards-list-box .num ul li,
.cards-list-box .term ul li {
  display: flex;
  flex-direction: row;
}

.cards-list-box .num ul li:first-child p {
  font-size: 13px;
  color: rgb(148, 161, 161);
  margin-right: 12px;
  font-weight: 400;
  margin-bottom: 12px;
}

.cards-list-box .num ul li:nth-child(2) p {
  font-size: 13px;
  color: rgb(45, 61, 61);
  margin-bottom: 12px;
  font-weight: 400;
}

.cards-list-box .term ul li:first-child p {
  font-size: 13px;
  color: rgb(148, 161, 161);
  margin: 0px 12px 12px 30px;
  font-weight: 400;
}

.cards-list-box .term ul li:nth-child(2) p {
  font-size: 13px;
  margin-bottom: 12px;
  color: rgb(45, 61, 61);
  font-weight: 400;
}

.plan-information {
  margin: 20px 0px;
}

.plan-kind {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.plan-kind .plan-main {
  display: flex;
  align-items: center;
}

.plan-kind .plan-main strong {
  font-size: 26px;
  font-weight: 700;
  margin-right: 12px;
}

.plan-kind .plan-main p {
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  background: rgb(243, 253, 252);
  margin: 0px;
  border: 1px solid rgb(5, 189, 185);
}

.plan-kind .next-month p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.next-month p strong {
  color: rgb(3, 187, 183);
}

.offer {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
}

.offer ul {
  width: 100%;
  display: flex;
}

.offer ul li {
  width: 50%;
}

.offer ul:nth-child(2) {
  margin-top: 16px;
}

.offer ul li .group {
  font-size: 14px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0px 0px 12px;
  font-weight: 700;
  color: rgb(3, 187, 183);
}

.offer ul li p {
  color: rgb(55, 59, 59);
  font-size: 13px;
  font-weight: 400;
  padding: 0px;
  margin-bottom: 13px;
}

#pop-info-1 {
  position: fixed;
  z-index: 999999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.password-layer {
  position: absolute;
  padding: 32px 40px;
  z-index: 99999999;
  box-sizing: border-box;
  width: 600px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(7, 7, 7, 0.157) 0px 0px 12px 0px;
}

.password-layer .title-text {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: rgb(45, 61, 61);
  margin: 0px 0px 40px;
}

.password-layer .title-text img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.password-layer .password-input {
  margin: 0px 0px 20px;
}

.password-layer .password-input ul {
  display: flex;
  width: 100%;
}

.password-layer .password-input ul li {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0px 0px 20px;
}

.password-layer .password-input ul li:first-child {
  width: 24%;
}

.password-layer .password-input ul li:nth-child(2) {
  width: 76%;
}

.scrollLock {
  overflow: hidden;
}

.popup-show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
  transition: visibility 0s linear 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s !important;
}

.modal {
  opacity: 0;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.modal::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.is-active {
  z-index: 99999;
  top: 0px;
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
  transition: visibility 0s linear 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s !important;
}

.dialog {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  position: absolute;
  padding: 1.4rem;
  width: 500px;
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  top: 7rem;
}

.dialog.w700 {
  width: 740px;
  max-width: 740px;
  min-width: 700px;
}

.dialog-3 {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  position: absolute;
  padding: 1.4rem;
  width: 400px;
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  top: 7rem;
}

.modal-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.modal-header .title p {
  font-size: 18px;
  margin: 0px;
  font-weight: 500;
  color: rgb(45, 61, 61);
}

.modal-header .title button {
  background: initial;
  border: none;
  padding: 10px 0px;
}

.modal-header .title button img {
  width: 24px;
  height: 24px;
}

.modal-content {
  flex: 1 1 auto;
}

.buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cards-information .sub-text {
  margin-left: 12px;
}

.cards-information ul {
  display: flex;
  padding: 10px 0px;
}

.cards-information ul li {
  display: flex;
  padding: 0px 8px 0px 0px;
  align-items: center;
  position: relative;
}

.cards-information ul li p {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.cards-content {
  background: rgb(246, 246, 246);
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.cards-text .cards-num ul {
  flex-direction: column;
  padding: 10px;
  background: inherit;
}

.info-text {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px !important;
}

.cards-text .cards-num ul li:nth-child(2) {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.cards-text .cards-num ul li:nth-child(2) input {
  color: rgb(60, 60, 60);
  text-align: center !important;
  border: none !important;
  background: none !important;
  width: 99px !important;
  transition: all 0.2s ease 0s !important;
  box-sizing: border-box !important;
  height: 38px !important;
}

.cards-text .cards-num ul li:nth-child(2) input:focus {
  outline: rgb(5, 189, 185) solid 1px;
  border-radius: 12px;
  box-shadow: rgb(192, 219, 215) 0px 0px 6px 0px;
}

.cards-text .cards-num ul li:nth-child(2) input::placeholder {
  color: rgb(192, 199, 198);
}

.cards-text .cards-num ul li:nth-child(2) p {
  color: rgb(192, 199, 198);
}

.yearandmoth ul li {
  display: flex;
  box-sizing: border-box;
}

.yearandmoth ul {
  background: none;
  width: 100%;
  flex-direction: column;
}

.yearandmoth {
  padding: 0px 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
}

.yearandmoth ul li {
  display: flex;
  width: 100%;
}

.yearandmoth ul li input {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 0px 0px 0px 16px;
}

.yearandmoth ul li input:focus {
  outline: rgb(5, 189, 185) solid 1px;
  border-radius: 12px;
  box-shadow: rgb(192, 219, 215) 0px 0px 6px 0px;
}

.yearandmoth ul li input::placeholder {
  color: rgb(192, 199, 198);
}

.cards-password {
  margin-top: 24px;
  margin-bottom: 22px;
  display: flex;
}

.cards-password ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 12px;
}

.cards-password ul li input {
  background-color: rgb(255, 255, 255);
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 0px 0px 0px 16px;
}

.cards-password ul li input:focus {
  outline: none;
  border-radius: 12px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.sub-title {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(45, 61, 61);
}

.dialog.top-bottom {
  top: 11.5rem !important;
}

.radio-individual {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cards-information input[type="radio"] {
  display: none;
}

.change {
  display: none !important;
}

.text-one .display-none {
  display: none;
}

.out-text {
  color: rgb(72, 72, 72);
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 60px;
  text-align: center;
}

.out-box {
  width: 130px;
  margin: 0px auto;
  padding: 30px 0px;
}

form[name="login"] {
  width: 100%;
  margin: auto;
}

.login {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 62px;
  max-width: 1900px;
  min-width: 1460px;
}

.plan-page {
  object-fit: fill;
  position: relative;
}

.plan-page .text {
  position: absolute;
  text-align: center;
  top: 61%;
  left: 33%;
  font-size: 16px;
  color: rgb(60, 66, 71);
  font-weight: 500;
  line-height: 1.6;
}

.plan-page a {
  top: 59%;
  position: absolute;
  z-index: 9999;
  padding: 12px;
  left: 31%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
}

.plan-page .video video {
  width: 709px;
  display: block;
  box-sizing: border-box;
}

.login-page {
  width: 60%;
  margin-left: 62px;
  margin: 0 auto;
  height: 100%;
}

.login-page .login-text h1 {
  font-size: 26px;
  color: rgb(48, 52, 55);
  font-weight: 700;
}

.login-page .login-text p {
  margin-top: 22px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(115, 121, 127);
}

.login-input {
  margin-top: 34px;
}

.login-input ul li {
  margin-bottom: 22px;
}

.login-input ul li p {
  margin-bottom: 12px;
  font-size: 15px;
}

.chk_more ul {
  display: flex;
}

.chk_more ul li {
  display: flex;
  align-items: center;
}

.chk_more ul li ul:nth-child(2) {
  display: flex;
  align-items: center;
  margin-left: 42px;
}

.chk_more ul li ul li a {
  display: flex;
  padding: 0px 0px 0px 16px;
  font-size: 13px;
  color: rgb(165, 165, 165);
}

.sign-up {
  width: 420px;
  margin: 132px auto 120px;
}

.singup-page {
  padding: 0px 12px;
}

.singup-page ul li {
  margin-bottom: 22px;
}

.singup-page ul li p {
  margin-bottom: 12px;
  font-size: 16px;
}

.singup-page ul li input {
  box-sizing: border-box;
}

.promotion {
  display: flex;
  justify-content: space-between;
}

.promotion .pr-code {
  font-size: 13px;
  color: rgb(6, 191, 211);
}

.agree-all {
  padding: 0px 15px;
  margin-top: 74px;
  position: relative;
}

.agree-all::before {
  content: "";
  display: block;
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 1px;
  top: -20px;
  position: absolute;
}

.agree-all ul li {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.agree-all ul li .terms {
  font-size: 13px;
  color: rgb(6, 191, 211);
  position: relative;
  padding: 8px 12px 0px;
  transition: all 0.4s ease 0s;
}

.agree-all ul li .terms:hover {
  background-color: rgb(238, 245, 246);
  border-radius: 8px;
}

.certify {
  display: flex;
}

.certify button {
  width: 41%;
  margin-left: 12px;
}

.send-email {
  text-align: center;
}

.send-code {
  box-sizing: border-box;
  width: 98%;
  margin: 0px auto 66px;
}

.codeput {
  margin-top: 0;
  display: flex;
  position: relative;
  align-items: center;
}

.codeput span {
  position: absolute;
  right: 9.5rem;
  font-size: 13px;
  font-weight: 400;
  color: rgb(184, 184, 184);
}

.codeput p {
  font-size: 14px;
  margin-right: 12px;
  width: 37%;
  text-align: left;
}

.send-motion lottie-player {
  margin: 0px auto 20px;
  text-align: center;
  width: 100px !important;
  height: 110px !important;
}

.text-32 {
  font-size: 24px;
  color: rgb(47, 49, 52);
  font-weight: 600;
  padding: 45px 15px 42px;
  line-height: 1.3;
}

.sign-motion {
  height: 0px !important;
}

* {
  border: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --hue: 223;
  --hue2: 13;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --red: hsl(var(--hue2), 90%, 55%);
  --trans-dur: 0.3s;
}

button {
  appearance: none;
}

.nav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 16em;
  transition: background-color var(--trans-dur), width var(--trans-dur) ease-in-out;
}

.nav__main {
  overflow-y: auto;
  padding: 3em 1.75em 4.7em;
  margin-top: 62px;
  width: inherit;
}

.nav__main::-webkit-scrollbar {
  width: 4px;
}

.nav__main::-webkit-scrollbar-track {
  background: inherit;
}

.nav__main::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 4px;
}

.nav__main:hover::-webkit-scrollbar-thumb {
  background-color: rgb(226, 232, 235);
}

.nav__bottom {
  background-color: inherit;
  box-shadow: 0 1px 0 hsl(var(--hue), 10%, 80%) inset;
  padding: 1em 1.75em;
  transition: box-shadow var(--trans-dur);
}

.nav__heading {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 1;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 15px;
  text-transform: uppercase;
  transition: color var(--trans-dur);
}

.nav__heading-text {
  display: inline-block;
  transform: translateX(1em);
  transition: transform var(--trans-dur) ease-in-out;
}

.nav__items {
  list-style: none;
  margin: 0px 0px 2.3em;
}

.nav__items:last-child {
  margin-bottom: 0px;
}

.nav__item-box {
  background-color: hsla(var(--hue), 90%, 55%, 0);
  border-radius: 0.75em;
  color: hsl(var(--hue), 20%, 55%);
  display: flex;
  align-items: center;
  margin: 4px 0px;
  padding: 0.6em 0.8em;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--trans-dur) ease-in-out, color var(--trans-dur), width var(--trans-dur) ease-in-out;
  width: 12.5em;
  min-width: 3em;
}

.nav__item-box.threedaps {
  padding: 0.6em 1.3em;
}

.nav__item-box.threedaps span {
  color: rgb(135, 145, 154);
}

.nav__item.active .nav__item-box.threedaps span {
  color: rgb(135, 145, 154);
  font-weight: 400;
}


.nav__item.hide .nav__item-box .icon-nav-roundeds {
  width: 28px;
}

.nav__item.hide .nav__item-box .icon-nav-roundeds img {
  width: 18px;
  padding: 0 0 -2px 4px;
  height: 17px;
  transition: .2s;
  transform: rotate(180deg);
}


.nav__item-box:focus,
.nav__item-box:hover {
  background-color: rgb(242, 244, 247);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.nav__item-box:focus {
  outline: transparent;
}

.nav__item-icon,
.nav__item-icon svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.nav__item-icon {
  flex-shrink: 0;
  position: relative;
  text-align: center;
  transition: transform var(--trans-dur) ease-in-out;
}

.nav__item-icon--badge::before {
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0.1em;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: box-shadow var(--trans-dur), transform var(--trans-dur) ease-in-out;
}

.nav__item-text {
  margin-left: 0.4em;
  display: inline-block;
  overflow: hidden;
  line-height: 1.2rem;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
  transition: opacity var(--trans-dur) ease-in-out, width var(--trans-dur) ease-in-out;
}

.nav__item.active .nav__item-text {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.nav__item-badge {
  background-color: hsla(var(--hue), 90%, 55%, 0.1);
  border-radius: 0.75rem;
  color: var(--primary);
  font-size: 0.75em;
  line-height: 1;
  margin-left: 0.75rem;
  padding: 0.125rem 0.5rem;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.nav__item-box--red .nav__item-badge {
  background-color: hsla(var(--hue2), 90%, 55%, 0.1);
  color: var(--red);
}

.nav__item-box--red .nav__item-badge {
  background-color: hsla(var(--hue2), 90%, 55%, 0.1);
  color: var(--red);
}

.nav__item-box--red .nav__item-icon--badge::before {
  background-color: var(--red);
}

.icon-nav-roundeds {
  width: 28px;
}

.icon-nav-roundeds img {
  width: 19px;
  padding: 0;
  height: 17px;
  transition: .2s;
  transform: rotate(0deg);
}

.nav__item {
  position: relative;
}

.three-nav {
  height: 0px;
  display: none;
  opacity: 0;
  transition: height 0.2s ease 0s;
}

.three-nav-02 {
  height: 0px;
  display: none;
  opacity: 0;
  transition: height 0.2s ease 0s;
}

.nav__item.hide .three-nav {
  height: 91px;
  display: block;
  opacity: 1;
  transition: height 0.2s ease 0s;
}

.nav__item.hide .three-nav-02 {
  height: 122px;
  opacity: 1;
  transition: height 0.2s ease 0s;
  display: block;
}

.nav__logo {
  background-color: var(--primary);
  border-radius: 0.75em;
  color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 2.5em;
  width: 3em;
  height: 3em;
  transform: translateX(0.75em);
  transition: background-color var(--trans-dur), color var(--trans-dur), transform var(--trans-dur) ease-in-out;
}

.nav__logo svg {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
}

.nav[data-expanded="false"] {
  width: 6.5em;
}

.nav[data-expanded="false"] .nav__heading-text {
  transform: translateX(calc(2em - 50%));
}

.nav[data-expanded="false"] .nav__item-box {
  width: 3em;
}

.nav[data-expanded="false"] .nav__item-icon--badge::before {
  transform: scale(1);
}

.nav[data-expanded="false"] .nav__item-text {
  opacity: 0;
  width: 0px;
}

.nav[data-expanded="false"] .nav__logo {
  transform: translateX(0px);
}

.nav[data-expanded="false"] [data-expand] .nav__item-icon {
  transform: rotate(180deg);
}

@media (prefers-color-scheme: white) {
  :root {
    --bg: hsl(var(--hue), 10%, 20%);
    --fg: hsl(var(--hue), 10%, 90%);
  }

  .nav {
    background-color: hsl(var(--hue), 10%, 10%);
  }

  .nav__main:hover {}

  .nav__main:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav__bottom {
    box-shadow: 0 1px 0 hsl(var(--hue), 10%, 30%) inset;
  }

  .nav__heading {
    color: hsl(var(--hue), 10%, 65%);
  }

  .nav__item-box {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(var(--hue), 20%, 75%);
  }

  .nav__item-box:focus,
  .nav__item-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
  }

  .nav__item-icon--badge::before {
    box-shadow: 0 0 0 0.1em hsl(var(--hue), 10%, 10%);
  }

  .nav__item-badge {
    background-color: hsl(var(--hue), 90%, 55%);
    color: rgb(255, 255, 255);
  }

  .nav__item-box--red .nav__item-badge {
    background-color: hsl(var(--hue2), 90%, 55%);
    color: rgb(255, 255, 255);
  }

  .nav__logo {
    background-color: rgb(255, 255, 255);
    color: var(--primary);
  }
}

.navigation-bar {
  width: 256px;
  position: fixed;
  height: 100%;
}

.allcontent {
  min-height: calc(100% - 120px);
  display: flex;
}

.chk-bar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 30px 16px 25px;
  display: flex;
  box-shadow: rgba(155, 160, 160, 0.2) 0px 0px 6px 0px;
  align-items: flex-end;
  justify-content: space-between;
}

.chk-box {
  display: flex;
}

.type {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.type.m10 {
  margin-right: 8px;
}

.type p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(135, 145, 154);
  margin-bottom: 12px;
}

.type ul {
  display: flex;
  background-color: inherit;
}

.type ul li {
  padding: 0px 4px 0px 0px;
}

.search {
  width: 34%;
}

.search.w100 {
  width: 100%;
}

.search.w500 {
  width: 500px;
}

.search .search-box {
  display: flex;
  justify-content: flex-end;
}

.blue-keyword {
  box-sizing: border-box;
  margin: 84px 20px 0px 278px;
  width: 100%;
  min-width: 1030px;
}

caption {
  position: absolute;
  font-size: 0px;
  left: -99999px;
}

.table-box-wrap {
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(155, 160, 160, 0.2) 0px 0px 6px 0px;
  padding: 16px 21px 21px;
  margin-top: 24px;
  margin-bottom: 26px;
  background-color: rgb(255, 255, 255);
}

.table-box {
  width: 100%;
  overflow: auto;
  height: 460px;
}

.table-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.table-box::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
}

.table-box::-webkit-scrollbar-thumb {
  background-color: rgb(226, 232, 235);
  border-radius: 4px;
}

.table-box table {
  width: 100%;
  white-space: nowrap;
}

.table-box table thead {
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
}

.table-box table thead tr:first-child th {
  background-color: inherit;
  border-top: inherit;
  border-bottom: inherit;
}

.table-box table thead tr th {
  padding: 14px;
  background-color: rgb(245, 245, 245);
  font-weight: 500;
  vertical-align: middle;
  font-size: 14px;
}

.table-box table thead tr th:first-child {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.table-box table thead tr th:last-child {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.table-box table tbody tr td {
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  padding: 10px 14px;
  font-weight: 400;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.purple-color {
  color: rgb(98, 43, 255);
  text-transform: uppercase;
}

.green-color {
  color: rgb(75, 197, 17);
  text-transform: uppercase;
}

.table-box table tbody tr:hover td {
  background-color: rgb(247, 249, 250);
}

@media (max-width: 1300px) {

  form[name="login"] {
    width: 100%;
    margin: auto;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 62px;
    max-width: 1900px;
    min-width: 1460px;
  }

  .plan-page {
    width: 100%;
    position: relative;
  }

  .plan-page .text {
    position: absolute;
    text-align: center;
    top: 61%;
    left: 33%;
    font-size: 16px;
    color: rgb(60, 66, 71);
    font-weight: 500;
    line-height: 1.6;
  }

  .plan-page a {
    top: 59%;
    position: absolute;
    z-index: 9999;
    padding: 12px;
    left: 31%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
  }

  .plan-page .video video {
    box-sizing: border-box;
    width: 99%;
  }

  .login-page {
    width: 60%;
    margin-left: 62px;
    margin: 0 auto;
    height: 100%;
  }

  .login-page .login-text h1 {
    font-size: 26px;
    color: rgb(48, 52, 55);
    font-weight: 700;
  }

  .login-page .login-text p {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(115, 121, 127);
  }

  .login-input {
    margin-top: 34px;
  }

  .login-input ul li {
    margin-bottom: 22px;
  }

  .login-input ul li p {
    margin-bottom: 12px;
    font-size: 15px;
  }
}

@media (min-width: 1600px) {


  .scroll-effect {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 56.75%;
    transform: translate(200%, -50%);
  }

  .table-box {
    width: 100%;
    overflow: auto;
    height: 460px;
  }

  form[name="login"] {
    width: 100%;
    margin: auto;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 62px;
    max-width: 1900px;
    min-width: 1460px;
  }

  .plan-page {
    width: 100%;
    position: relative;
  }

  .plan-page .text {
    position: absolute;
    text-align: center;
    top: 61%;
    left: 33%;
    font-size: 16px;
    color: rgb(60, 66, 71);
    font-weight: 500;
    line-height: 1.6;
  }

  .plan-page a {
    top: 59%;
    position: absolute;
    z-index: 9999;
    padding: 12px;
    left: 31%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
  }

  .plan-page .video video {
    box-sizing: border-box;
    width: 99%;
  }

  .login-page {
    width: 60%;
    margin-left: 62px;
    margin: 0 auto;
    height: 100%;
  }

  .login-page .login-text h1 {
    font-size: 26px;
    color: rgb(48, 52, 55);
    font-weight: 700;
  }

  .login-page .login-text p {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(115, 121, 127);
  }

  .login-input {
    margin-top: 34px;
  }

  .login-input ul li {
    margin-bottom: 22px;
  }

  .login-input ul li p {
    margin-bottom: 12px;
    font-size: 15px;
  }

  .chk_more ul {
    display: flex;
  }

}

@media (min-width: 1800px) {

  .scroll-effect {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 58.8%;
    transform: translate(200%, -50%);
  }

  .table-box {
    width: 100%;
    overflow: auto;
    height: 560px;
  }

  form[name="login"] {
    width: 100%;
    margin: auto;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 62px;
    max-width: 1900px;
    min-width: 1460px;
  }

  .plan-page {
    width: 100%;
    position: relative;
  }

  .plan-page .text {
    position: absolute;
    text-align: center;
    top: 61%;
    left: 33%;
    font-size: 16px;
    color: rgb(60, 66, 71);
    font-weight: 500;
    line-height: 1.6;
  }

  .plan-page a {
    top: 59%;
    position: absolute;
    z-index: 9999;
    padding: 12px;
    left: 31%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
  }

  .plan-page .video video {
    display: block;
    box-sizing: border-box;
    object-fit: fill;
    width: 903px;
  }

  .login-page {
    width: 60%;
    margin-left: 62px;
    margin: 0 auto;
    height: 100%;
  }

  .login-page .login-text h1 {
    font-size: 26px;
    color: rgb(48, 52, 55);
    font-weight: 700;
  }

  .login-page .login-text p {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(115, 121, 127);
  }

  .login-input {
    margin-top: 34px;
  }

  .login-input ul li {
    margin-bottom: 22px;
  }

  .login-input ul li p {
    margin-bottom: 12px;
    font-size: 15px;
  }

  .chk_more ul {
    display: flex;
  }

}

@media (min-width: 1920px) {


  .scroll-effect {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 59.8%;
    transform: translate(200%, -50%);
  }

  .table-box {
    width: 100%;
    overflow: auto;
    height: 600px;
  }

  form[name="login"] {
    width: 100%;
    margin: auto;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 62px;
    max-width: 1900px;
    min-width: 1460px;
  }

  .plan-page {
    position: relative;
  }

  .plan-page .text {
    position: absolute;
    text-align: center;
    top: 61%;
    left: 38%;
    font-size: 16px;
    color: rgb(60, 66, 71);
    font-weight: 500;
    line-height: 1.6;
  }

  .plan-page a {
    top: 59%;
    position: absolute;
    z-index: 9999;
    padding: 12px;
    left: 31%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
  }

  .plan-page .video video {
    box-sizing: border-box;
    width: 970px;
  }

  .login-page {
    width: 60%;
    margin-left: 62px;
    margin: 0 auto;
    height: 100%;
  }

  .login-page .login-text h1 {
    font-size: 26px;
    color: rgb(48, 52, 55);
    font-weight: 700;
  }

  .login-page .login-text p {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(115, 121, 127);
  }

  .login-input {
    margin-top: 34px;
  }

  .login-input ul li {
    margin-bottom: 22px;
  }

  .login-input ul li p {
    margin-bottom: 12px;
    font-size: 15px;
  }

  .chk_more ul {
    display: flex;
  }

  /* footer {
    position: relative;
  }
  .footer-02 {
    position: absolute;
  } */
}

@media (min-width: 2000px) {


  .scroll-effect {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 61.5%;
    transform: translate(200%, -50%);
  }

  form[name="login"] {
    width: 100%;
    margin: auto;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 62px;
    max-width: 1900px;
    min-width: 1460px;
  }

  .plan-page {
    position: relative;
  }

  .plan-page .text {
    position: absolute;
    text-align: center;
    top: 61%;
    left: 41%;
    font-size: 16px;
    color: rgb(60, 66, 71);
    font-weight: 500;
    line-height: 1.6;
  }

  .plan-page a {
    top: 59%;
    position: absolute;
    z-index: 9999;
    padding: 12px;
    left: 31%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
  }

  .plan-page .video video {
    box-sizing: border-box;
    width: 1098px;
  }

  .login-page {
    width: 60%;
    margin-left: 62px;
    margin: 0 auto;
    height: 100%;
  }

  .login-page .login-text h1 {
    font-size: 26px;
    color: rgb(48, 52, 55);
    font-weight: 700;
  }

  .login-page .login-text p {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(115, 121, 127);
  }

  .login-input {
    margin-top: 34px;
  }

  .login-input ul li {
    margin-bottom: 22px;
  }

  .login-input ul li p {
    margin-bottom: 12px;
    font-size: 15px;
  }
}


.select-01.b100 {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 150px;
  border: 1px solid rgb(222, 227, 233);
  background-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.select-01.b100.disabled {
  color: rgb(221, 221, 221);
  cursor: not-allowed;
  background-color: rgb(247, 247, 247);
}

.select-01.b100.disabled .label {
  color: rgb(177, 177, 177);
  cursor: not-allowed;
}

.select-01.b200 {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 250px;
  border: 1px solid rgb(222, 227, 233);
  background-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin-right: 12px;
}

.select-01.popup-select-10 {
  width: 100%;
  box-shadow: none;
}

.select-01.popup-select-20 {
  width: 65%;
  box-shadow: none;
}

.select-01::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: -1;
  width: 20px;
  height: 16px;
  background: url("../img/arrow_down.png") 0px 0px / 20px 16px no-repeat;
  transition: all 0.2s ease 0s;
}

.select-01 .label {
  display: flex;
  align-items: center;
  width: inherit;
  padding: 0.6rem 0px 0.6rem 15px;
  height: inherit;
  border: 0px none;
  outline: none 0px;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
}

.select-01.popup-select-10 .label,
.select-01.popup-select-20 .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0px none;
  outline: none 0px;
  padding-left: 15px;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
}

.select-01 .optionList {
  position: absolute;
  top: 41px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 3px 0px;
  left: -1px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.2s ease 0s;
  display: flow-root;
}

.select-01.active::before {
  transform: rotate(180deg);
}

.select-01.active {
  z-index: 40;
  border-radius: 9px;
  border: 1px solid rgb(5, 189, 185);
}

.select-01.active .optionList {
  max-height: 100px;
  transition: all 0.3s ease 0s;
  overflow: auto;
  border: 1px solid rgb(204, 204, 204);
}

.select-01 .optionList .optionItem {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s ease 0s;
  text-align: left;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 73, 79);
}

.select-01 .optionList .optionItem:hover {
  background-color: rgb(242, 244, 247);
  color: rgb(69, 73, 79);
}

.select-01 .optionList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.select-01 .optionList::-webkit-scrollbar-track {
  background-color: rgb(242, 242, 242);
}

.select-01 .optionList::-webkit-scrollbar-thumb {
  background-color: rgb(226, 232, 235);
}

.select-01 .optionList::-webkit-scrollbar-thumb:hover {
  background-color: rgb(226, 232, 235);
}

.img-text {
  background-color: rgba(0, 0, 0, 0);
}

.img-text ul {
  display: flex;
}

.img-text ul {
  background-color: inherit;
  display: flex;
  align-items: center;
}

.img-text ul li {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  align-items: flex-start;
}

.table-img {
  width: 42px;
  height: 42px;
  border-radius: 9px;
  background: url("../img/businessmen.jpg") 0px 0px / cover no-repeat;
}

.skyblue-color {
  color: rgb(70, 117, 206);
  margin-bottom: 4px;
  display: inline-block;
}

.left-aglin {
  text-align: left !important;
}

.red-color {
  color: rgb(255, 86, 86);
}

.red-color.rotate {
  transform: rotate(180deg);
}

.blue-badge {
  padding: 6px 12px;
  border-radius: 9px;
  color: rgb(0, 96, 235);
  background-color: rgb(224, 240, 254);
}

.bold {
  font-weight: 800;
}

.headtext {
  margin: 12px 0px;
}

.h1-100 {
  font-weight: 600;
}

.tooltip-100 {
  color: rgb(182, 191, 199);
  background-color: rgb(255, 255, 255);
  padding: 1px 6px;
  border: 1px solid rgb(182, 191, 199);
  border-radius: 30px;
  font-size: 13px;
}

.tooltip-100:hover {
  background-color: rgb(243, 244, 246);
}

.fiex-box {
  display: flex;
}

.fiex_table {
  position: sticky;
  width: 400px;
  z-index: 1;
  top: 44px;
}

.group-01 {
  display: flex;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}

.group-02 {
  text-align: center;
}

.ashgray-color {
  font-size: 12px;
  color: rgb(159, 159, 159);
  text-align: center;
  font-weight: 300;
}

.group-01 .gray-color {
  color: rgb(154, 154, 154);
  background-color: inherit;
}

.choice {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 0px 12px;
  align-items: center;
}

.btn-list-box {
  padding: 20px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 16px;
  display: flex;
  max-width: 700px;
  margin-bottom: 40px;
  min-width: 660px;
}

.btn-list-box p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 18px;
}

.btn-list-box .flex-box {
  display: flex;
  margin-right: 30px;
}

.btn-chk {
  position: relative;
}

.essential {
  display: flex;
}
.essential span {
  margin-left: 6px;
}
.email-fiexd {
  padding: 12px 0 !important;
}

.outbox-motion {
  margin: 0px auto;
  text-align: center;
  width: 250px !important;
  height: 180px !important;
}

.outbox-motion lottie-player {
  margin: 0px auto 10px;
  text-align: center;
  width: 250px !important;
  height: 180px !important;
}


.terms {
  font-size: 13px;
  color: rgb(6, 191, 211);
  position: relative;
  padding: 15px;
  transition: all 0.4s ease 0s;
}

.terms:hover {
  background-color: rgb(238, 245, 246);
  border-radius: 8px;
}

.out-box-mypage {
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  padding: 22px;
}

.id-email-fiexd {
  padding: 12px 12px 12px;
  border: 1px solid rgb(222, 227, 233);
  border-radius: 10px;
  font-size: 13px !important;
  width: 100%;
  margin-bottom: 0 !important;
  background: #fafafa;
}