a {
  text-decoration: none;
  color: initial;
}

p,
span,
a,
div,
strong {
  font-family: "Pretendard", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

header {
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.83);
  top: 0px;
  z-index: 99999;
  backdrop-filter: blur(20px);
  box-shadow: rgb(222, 227, 233) 0px 0px 8px 0px;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  font-family: Pretendard, sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 62px;
}

.header .group-01,
.header .group-02 {
  display: flex;
}

.header .group-02 img {
  width: 24px;
  margin-left: 14px;
}

.group-02 ul li ul {
  flex-direction: column;
  background: rgb(255, 255, 255);
  font-size: 16px;
  top: 3.2rem;
  right: -0.3rem;
  width: auto;
  padding: 10px 12px;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  box-shadow: rgb(221, 221, 221) 0px 0px 8px 0px;
  display: none !important;
}

.group-02 ul li:hover ul {
  opacity: 1;
  transition: all 1s ease 0s;
  display: block !important;
}

.group-02 ul li ul li {
  padding: 12px 16px !important;
}

.group-02 ul li ul li:hover {
  background: rgb(245, 245, 245);
  border-radius: 12px;
}

.group-02 ul li ul li a {
  width: 63px;
}

.header .group-01 ul li,
.header .group-02 ul li {
  display: flex;
  font-size: 14px;
  align-items: center;
  padding: 14px 10px;
}

.header .group-01 ul,
.header .group-02 ul {
  display: flex;
}

.header .group-01 img {
  width: 107px;
  height: 22px;
}

.header .group-02 .btn-login a {
  padding: 10px 20px;
  background-color: rgb(5, 189, 185);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.inner {
  width: 1200px;
  min-width: 1200px;
  margin: 0px auto;
}

.section-01 img {
  position: absolute;
}

.section-01 p:first-child {
  font-size: 52px;
  padding-top: 120px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.section-01 p:nth-child(2) {
  margin-top: 24px;
  font-size: 24px;
  color: rgb(45, 61, 61);
}

.section-01 p:nth-child(2) strong {
  font-weight: 700;
}

.visual {
  margin: 0px auto;
  text-align: center;
}

.btn-shine {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  margin: 0 auto;
  transform: translate(523%, -50%);
  padding: 12px 48px;
  color: #fff;
  writing-mode: vertical-lr;
  background: linear-gradient(to right, rgb(197 197 197) 0, rgb(222 227 233) 10%, rgb(143 165 184) 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.scroll-effect {
  position: absolute;
  top: 60%;
  left: 0;
  right: 54.75%;
  transform: translate(200%, -50%);
}

.scroll {
	width: 18px;
	height: 18px;
	/* border: 1px solid #a5a5a5; */
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-left: 2px solid rgb(130 143 159);
  border-bottom: 2px solid rgb(130 143 159);
  transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(6px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(6px);
	}
	40% {
		transform: translate(0);
	}
}

.visual .img {
  position: relative;
  top: 30px;
}

.visual .img .img-01 {
  left: 0px;
  width: 480px;
  right: 0px;
  margin: 0px auto;
}

.visual .img .img-02 {
  top: 116px;
  width: 360px;
  left: 54%;
}

.visual .img .img-03 {
  top: 340px;
  left: 25%;
  width: 480px;
}


@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.section-01 {
  color: rgb(255, 255, 255);
  background: linear-gradient(129deg, rgb(255, 255, 255), rgb(242, 252, 255), rgb(232, 249, 248), rgb(235, 215, 255)) 0% 0% / 400% 400%;
  animation: 15s ease 0s infinite normal none running AnimationName;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  text-align: center;
  margin-top: 61px;
  position: relative;
}

.visual-img {
  height: 529px;
}

.section-02 {
  position: relative;
}

.bg-round {
  position: relative;
}

.bg-round img {
  position: absolute;
}

.bg-round img:nth-child(1) {
  top: 5rem;
  right: 17rem;
  width: 22px;
}

.bg-round img:nth-child(2) {
  top: 21rem;
  left: 11rem;
  width: 10px;
}

.bg-round img:nth-child(3) {
  top: 25rem;
  left: 6rem;
  width: 22px;
}

.bg-round img:nth-child(4) {
  top: 8rem;
  right: 12rem;
  width: 10px;
}

.main-text {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.bubble {
  padding: 15px 38px;
  background-color: rgb(255, 255, 255);
  right: 0px;
  left: 0px;
  top: 12.5rem;
  margin: 0px auto;
  text-align: center;
  font-size: 16px;
  position: absolute;
  display: inline-block;
  border-radius: 30px;
  width: 257px;
  color: rgb(45, 61, 61);
  box-shadow: rgba(170, 170, 170, 0.29) 0px 0px 8px 0px;
}

.bubble strong {
  font-weight: 600;
}

.bubble::after {
  content: "";
  background: url("../img/bubbe.png") 0px 0px / 65px no-repeat;
  top: 1.5rem;
  left: 16.5rem;
  width: 80px;
  height: 50px;
  position: absolute;
}

.box-section {
  margin-top: 8.4rem;
}

.box-section ul {
  display: flex;
  justify-content: center;
}

.box-section ul li {
  display: flex;
  margin: 10px;
}

.box-section .box-one {
  display: flex;
  padding: 40px 131px;
  background-color: rgb(255, 255, 255);
}

.box-section .box-two {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 76px;
}

.box-section .box-thr {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 70px;
}

.box-section .box-for {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 40px 131px;
}

.box-one,
.box-two,
.box-thr,
.box-for {
  border-radius: 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: rgb(255, 255, 255) 2px 1000px 1px inset;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.text-one p {
  text-align: center;
  margin-top: 3rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 5rem;
  font-size: 18px;
  color: rgb(120, 127, 127);
}

.section-03 {
  background: rgb(244, 251, 251);
}

.main-text {
  margin-top: 90px;
}

.section p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-03-img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 90px;
}

.section-03-img img {
  width: 75%;
}

.section-04 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-04 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-04-img {
  text-align: center;
}

.section-04-img img:nth-child(1) {
  text-align: center;
  width: 75%;
  margin-top: 40px;
}

.section-04-img img:nth-child(2) {
  width: 72%;
}

.section-04-img img:nth-child(3) {
  width: 78%;
  margin-top: 15px;
}

.section-04-img img:nth-child(4) {
  width: 70%;
  margin-top: 24px;
}

.section-04-img img:nth-child(5) {
  width: 67%;
  margin-top: 32px;
}

.section-04-img img:nth-child(6) {
  width: 60%;
  margin-top: 32px;
}

.section-05 {
  margin-top: 90px;
  position: relative;
}

.section-05 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-05 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-05 .bg img:nth-child(1) {
  position: absolute;
  width: 18%;
  right: 17rem;
  top: -1rem;
  z-index: -1;
}

.section-05 .bg img:nth-child(2) {
  position: absolute;
  width: 18%;
  left: 22%;
  z-index: -1;
  top: 2rem;
}

.section-05-img,
.section-06-img {
  text-align: center;
  margin-top: 102px;
}

.section-05-img img {
  width: 75%;
}

.section-06 {
  background: linear-gradient(45deg, rgb(240, 244, 255), rgb(241, 250, 254), rgb(253, 252, 243));
  margin-top: 90px;
}

.section-06 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-06 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-06-img {
  margin-top: 32px;
  position: relative;
  z-index: 10;
  margin-bottom: 80px;
}

.section-06-img img {
  width: 85%;
  z-index: 1;
}

.section-06-img img:nth-child(2) {
  width: 58%;
  margin-top: 32px;
}

.sub-img img:first-child {
  position: absolute;
  width: 20%;
  top: 29rem;
  left: 15rem;
  z-index: -1;
}

.sub-img img:nth-child(2) {
  width: 20%;
  position: absolute;
  z-index: -1;
  top: 33rem;
  right: 18rem;
}

.section-07 .layout-box ul {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.section-07 .layout-box ul li {
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: rgba(112, 133, 134, 0.23) 0px 0px 16px 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  margin: 0px 12px;
}

.section-07 .layout-box ul li img {
  width: 27%;
  padding: 40px 0px 0px;
  box-sizing: border-box;
}

.section-07 .layout-box ul li span {
  font-size: 20px;
  padding: 30px 0px 14px;
  color: rgb(45, 61, 61);
  font-weight: 500;
}

.section-07 .layout-box ul li p {
  margin-bottom: 42px;
}

.section-07 .layout-box ul li p strong {
  font-weight: 800;
  font-size: 20px;
  background: -webkit-linear-gradient(45deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.section-07 .section-sub-text {
  text-align: center;
  padding: 52px 0px 90px;
  font-size: 20px;
  font-weight: 500;
}

.section-08 {
  background: rgb(247, 249, 242);
}

.section-08 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-08 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.swiper {
  display: flex;
  margin-top: 70px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-pagination {
  top: 17rem !important;
}

.swiper-pagination-bullet {
  background-color: rgb(127, 127, 127) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(80, 36, 255) !important;
  width: 17px !important;
  border-radius: 0.3rem !important;
}

.content-box {
  background: rgb(255, 255, 255);
  padding: 40px 24px;
  box-shadow: rgb(125, 128, 110) 2px 4px 14px -12px;
  border-radius: 20px;
  margin: 0px 12px 90px 0px;
  border: 1px solid rgb(240, 242, 234);
}

.content .img ul {
  display: flex;
  align-items: center;
}

.content .img ul li .main-img {
  padding: 22px 19px;
  background: rgb(209, 209, 209);
  border-radius: 100px;
}

.content .img ul li p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 6px;
  margin-left: 16px;
}

.content .img ul li p:first-child {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 700;
}

.text p {
  margin: 40px 12px 0px 0px;
  font-size: 18px;
  color: rgb(45, 61, 61);
  line-height: 1.6;
}

.section-09 p:nth-child(2) {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(121, 134, 134);
}

.section-09 p:nth-child(2) strong {
  color: rgb(45, 61, 61);
  font-weight: 700;
}

.section-09 .button-payment {
  border-radius: 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: rgb(255, 255, 255) 2px 1000px 1px inset;
  box-sizing: border-box;
  width: 228px;
  font-size: 24px;
  margin: 90px auto 0px;
  position: relative;
  font-weight: 600;
}

.section-09 .button-payment strong {
  position: absolute;
  font-size: 18px;
  top: 16px;
  left: 23px;
  background: -webkit-linear-gradient(45deg, rgb(49, 221, 217), rgb(125, 179, 229), rgb(122, 83, 232));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-09 .button-payment button {
  border: none;
  background: rgb(255, 255, 255);
  padding: 16px 20px 16px 67px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.button-payment:hover {
  background-color: rgb(245, 245, 245);
}

.section-09 span {
  text-align: center;
  display: block;
  margin-bottom: 90px;
  margin-top: 16px;
}

.section-09 span a {
  color: rgb(121, 134, 134);
  text-decoration: underline;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.footer {
  display: flex;
  width: 100%;
  background: rgb(60, 68, 68);
  box-sizing: border-box;
  font-size: 14px;
  padding: 60px 16px;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.footer .inner {
  display: flex;
  justify-content: space-between;
}

.footer .left .left-01.color,
.footer .left .left-02.color,
.footer .right.color p a {
  color: rgb(45, 45, 45) !important;
}

.footer .left {
  display: flex;
  flex-direction: column;
}

.footer .left .left-01 {
  display: flex;
  margin-bottom: 14px;
  position: relative;
}

.footer .left .left-01 p {
  padding: 0px 18px 0px 0px;
}

.footer .left .left-01 p:first-child::after,
.footer .left .left-02 p:first-child::after {
  display: none;
}

.footer .left .left-01 p::after,
.footer .left .left-02 p::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  margin-left: -9px;
}

.footer .left .left-02 {
  display: flex;
  position: relative;
}

.footer .left .left-02 p {
  padding: 0px 18px 0px 0px;
}

.footer .right {
  display: flex;
}

.footer .right p {
  font-weight: 800;
  padding: 0px 12px;
}

.footer .right p a {
  color: rgb(255, 255, 255);
}

.back-to-position {
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.back-to-position.to-bottom {
  transform: translateY(10px);
}

.back-to-position.to-up {
  transform: translateY(40px);
}

.back-to-position.to-down {
  transform: translateY(-40px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateY(0px);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.2s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.8s;
}

.box {
  border-radius: 20px;
  box-shadow: rgba(222, 227, 233, 0.5) 1px 0px 12px 3px;
  padding: 20px 30px 30px;
  margin: 12px;
}

.width {
  width: 600px;
  max-width: 540px;
  margin: 0px auto;
}

.information {
  margin-top: 120px;
}

.information h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 0px 12px 20px;
}

.mypage p,
.pay p,
.membership p,
.session p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 34px;
}

.member ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.member ul li {
  padding: 0px 20px 24px 0px;
  width: 100%;
}

.member ul li:first-child {
  width: 24%;
}

.member ul li p {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

input[type="text"],
input[type="password"] {
  padding: 10px 12px;
  border: 1px solid rgb(222, 227, 233);
  border-radius: 10px;
  font-size: 14px;
  width: 98%;
  transition: all 0.2s ease 0s;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgb(173, 180, 179);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: rgb(5, 189, 185) solid 1px;
  box-shadow: rgb(192, 219, 215) 0px 0px 6px 0px;
}

.btn-password {
  background: rgb(241, 241, 241);
  border: none;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-password:hover {
  background: rgb(229, 229, 229);
}

.btn-completion.active {
  padding: 10px 20px;
  margin-right: 8px;
  background: rgb(0, 201, 196);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-completion.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  padding: 10px 20px;
  margin-right: 8px;
  background: rgb(0, 201, 196);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 10px;
}

.btn-completion.active:hover {
  background: rgb(5, 189, 185);
}

.btn-back.active {
  padding: 10px 20px;
  background: rgb(241, 241, 241);
  border: none;
  color: rgb(45, 45, 45);
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-back.disabled {
  background: rgb(241, 241, 241);
  color: rgb(153, 153, 153);
  cursor: not-allowed;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  border-radius: 10px;
}

.btn-back.disabled:hover {
  background: rgb(241, 241, 241);
}

.btn-back:hover {
  background: rgb(229, 229, 229);
}

.btn-main {
  padding: 10px 20px;
  margin-right: 8px;
  background: rgb(0, 201, 196);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.close {
  padding: 10px 20px;
  background: rgb(241, 241, 241);
  border: none;
  color: rgb(45, 45, 45);
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-list {
  display: flex;
  justify-content: flex-end;
}

.pay .box span {
  font-size: 14px;
  color: rgb(148, 161, 161);
  text-align: center;
  display: block;
  padding: 0px 0px 16px;
}

.card-box {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(64, 178, 226), rgb(5, 189, 185), rgb(27, 213, 225));
}

.card-box img {
  width: 90px;
  position: absolute;
  top: 22%;
  left: 1.4rem;
  opacity: 0.8;
}

.btn-card {
  width: 100%;
  padding: 41px 113px 41px 41px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: none;
  box-sizing: border-box;
  background: inherit;
}

.kakako {
  margin-top: 16px;
  position: relative;
  border-radius: 16px;
  background: rgb(250, 225, 0);
}

.kakako strong {
  position: absolute;
  color: rgb(51, 28, 6);
  font-weight: 600;
  top: 33%;
  left: 5%;
}

.btn-kakako {
  width: 100%;
  padding: 24px 100px 24px 20px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(75, 51, 14);
  border: none;
  box-sizing: border-box;
  background: inherit;
}

.membership span {
  font-size: 14px;
  color: rgb(148, 161, 161);
  text-align: center;
  display: block;
  padding: 0px 0px 16px;
}

.plan-text {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 34px;
}

.plan-text p {
  margin: 0px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.plan p {
  color: rgb(148, 161, 161);
  font-size: 14px;
  font-weight: 400;
  margin: 0px 8px;
}

.plan img {
  width: 22px;
  height: 22px;
}

.free-more {
  padding: 20px;
  background: linear-gradient(60deg, rgb(198, 248, 245), rgb(249, 253, 254), rgb(239, 231, 254));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
}

.free-more .free-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.free-more .free-text p {
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 500;
}

.free-more .free-text span {
  font-size: 13px;
  text-align: left;
  padding: 0px;
}

.free-more a {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: rgb(5, 189, 185);
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.free-more a:hover {
  background-color: rgb(16, 175, 172);
}

.session {
  margin-bottom: 90px;
}

.session .box-list ul {
  display: flex;
  flex-direction: column;
}

.session .box-list ul li {
  display: flex;
  flex-direction: column;
}

.session .box-list ul li p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 16px;
}

.session .box-list ul li:nth-child(2) {
  display: flex;
  flex-direction: initial;
  margin-bottom: 18px;
}

.session .box-list ul li:nth-child(2) .now-session ul {
  display: flex;
}

.session .box-list ul li:nth-child(2) .now-session ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.session .box-list ul li:nth-child(2) .now-session ul li p {
  font-size: 14px;
  margin: 1px;
}

.session .box-list ul li:nth-child(2) .now-session {
  margin: 0px 0px 0px 12px;
}

.session .box-list ul li:nth-child(2) img {
  width: 38px;
  height: 38px;
}

.session .box-list ul li:nth-child(2) .now-session ul li strong {
  color: rgb(5, 189, 185);
  font-size: 14px;
}

.session .box-list ul li:nth-child(3) {
  display: inline;
}

.btn-ss-logout {
  padding: 10px 40px;
  font-size: 14px;
  color: rgb(45, 61, 61);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background: rgb(241, 241, 241);
}

.btn-ss-logout:hover {
  background: rgb(229, 229, 229);
}

.membership-pay {
  margin: 150px auto;
}

.membership-pay h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.membership-pay h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: rgb(45, 61, 61);
}

.membership-pay .pay-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.membership-pay .pay-list .to-pay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

.to-pay .membership-to-pay {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.to-pay .membership-to-pay p {
  font-size: 26px;
  font-weight: 700;
  margin-right: 12px;
  color: rgb(5, 189, 185);
}

.to-pay .membership-to-pay span {
  font-size: 12px;
  padding: 9px 16px;
  border-radius: 6px;
  border: 1px solid rgb(5, 189, 185);
  background: rgb(243, 253, 252);
}

.to-pay .more a {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(148, 161, 161);
}

.subscription {
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid rgb(214, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription .year-month p {
  font-size: 20px;
  font-weight: 700;
}

.subscription .year-month span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(148, 161, 161);
}

.subscription .much {
  width: 40%;
  display: flex;
  align-items: center;
}

.subscription .much p {
  font-size: 30px;
  font-weight: 700;
  color: rgb(45, 61, 61);
  margin-right: 8px;
}

.subscription .much span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(45, 61, 61);
}

.agree {
  position: relative;
}

.agree input {
  display: none;
}

.agree label {
  display: flex;
  align-items: center;
  margin: 20px 20px 40px;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0px 0px 6px;
  color: rgb(91, 100, 100);
}

.agree label::before {
  content: "";
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
}

.agree input:checked+label::before {
  content: "";
  width: 18px;
  height: 17px;
  background: url("../img/chbox_icon.png") 3px 4px / 10px no-repeat rgb(5, 189, 185);
  border: 1px solid rgb(5, 189, 185);
}

.btn-free {
  font-size: 14px;
  font-weight: 400;
  color: rgb(45, 61, 61);
  background: linear-gradient(90deg, rgb(198, 248, 245), rgb(249, 253, 254), rgb(239, 231, 254));
  border: none;
  border-radius: 14px;
  padding: 20px 200px;
  cursor: pointer;
  text-align: center;
}

.btn-free:hover {
  background: linear-gradient(90deg, rgb(173, 240, 235), rgb(226, 247, 253), rgb(224, 208, 253));
}

.pay-infomation {
  margin-bottom: 46px;
  border-radius: 20px;
  border: 1px solid rgb(222, 227, 233);
  background: rgb(255, 255, 255);
  display: flex;
  padding: 22px;
  flex-direction: column;
}

.pay-infomation .cards-kind {
  display: flex;
  align-items: center;
}

.pay-infomation .cards-kind p {
  font-size: 14px;
  color: rgb(45, 61, 61);
  margin: 0px;
  font-weight: 400;
  padding: 6px 10px;
  border-radius: 6px;
  background: rgb(243, 253, 252);
  border: 1px solid rgb(5, 189, 185);
}

.pay-infomation .cards-kind img {
  width: 48px;
  height: 28px;
  margin-left: 8px;
}

.pay-infomation .cards-kind span {
  font-size: 14px;
  padding: 0px;
  font-weight: 400;
  margin-left: 8px;
}

.pay-infomation .cards-list-box {
  display: flex;
  flex-direction: row;
}

.cards-list-box .num ul,
.cards-list-box .term ul {
  display: flex;
  margin-top: 30px;
}

.cards-list-box .num ul li,
.cards-list-box .term ul li {
  display: flex;
  flex-direction: row;
}

.cards-list-box .num ul li:first-child p {
  font-size: 13px;
  color: rgb(148, 161, 161);
  margin-right: 12px;
  font-weight: 400;
  margin-bottom: 12px;
}

.cards-list-box .num ul li:nth-child(2) p {
  font-size: 13px;
  color: rgb(45, 61, 61);
  margin-bottom: 12px;
  font-weight: 400;
}

.cards-list-box .term ul li:first-child p {
  font-size: 13px;
  color: rgb(148, 161, 161);
  margin: 0px 12px 12px 30px;
  font-weight: 400;
}

.cards-list-box .term ul li:nth-child(2) p {
  font-size: 13px;
  margin-bottom: 12px;
  color: rgb(45, 61, 61);
  font-weight: 400;
}

.plan-information {
  margin: 20px 0px;
}

.plan-kind {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.plan-kind .plan-main {
  display: flex;
  align-items: center;
}

.plan-kind .plan-main strong {
  font-size: 26px;
  font-weight: 700;
  margin-right: 12px;
}

.plan-kind .plan-main p {
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  background: rgb(243, 253, 252);
  margin: 0px;
  border: 1px solid rgb(5, 189, 185);
}

.plan-kind .next-month p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.next-month p strong {
  color: rgb(3, 187, 183);
}

.offer {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
}

.offer ul {
  width: 100%;
  display: flex;
}

.offer ul li {
  width: 50%;
}

.offer ul:nth-child(2) {
  margin-top: 16px;
}

.offer ul li .group {
  font-size: 14px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0px 0px 12px;
  font-weight: 700;
  color: rgb(3, 187, 183);
}

.offer ul li p {
  color: rgb(55, 59, 59);
  font-size: 13px;
  font-weight: 400;
  padding: 0px;
  margin-bottom: 13px;
}

#pop-info-1 {
  position: fixed;
  z-index: 999999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.password-layer {
  position: absolute;
  padding: 32px 40px;
  z-index: 99999999;
  box-sizing: border-box;
  width: 600px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(7, 7, 7, 0.157) 0px 0px 12px 0px;
}

.password-layer .title-text {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: rgb(45, 61, 61);
  margin: 0px 0px 40px;
}

.password-layer .title-text img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.password-layer .password-input {
  margin: 0px 0px 20px;
}

.password-layer .password-input ul {
  display: flex;
  width: 100%;
}

.password-layer .password-input ul li {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0px 0px 20px;
}

.password-layer .password-input ul li:first-child {
  width: 24%;
}

.password-layer .password-input ul li:nth-child(2) {
  width: 76%;
}

.scrollLock {
  overflow: hidden;
}

.popup-show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
  transition: visibility 0s linear 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s !important;
}

.modal {
  opacity: 0;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.modal::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.is-active {
  z-index: 99999;
  top: 0px;
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
  transition: visibility 0s linear 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s !important;
}

.dialog {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  position: absolute;
  padding: 1.4rem;
  width: 500px;
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  top: 7rem;
}

.modal-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.modal-header .title p {
  font-size: 20px;
  margin: 0px;
  font-weight: 500;
  color: rgb(45, 61, 61);
}

.modal-header .title button {
  background: initial;
  border: none;
}

.modal-header .title button img {
  width: 24px;
  height: 24px;
}

.modal-content {
  flex: 1 1 auto;
}

.buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cards-information .sub-text {
  margin-left: 12px;
}

.cards-information ul {
  display: flex;
  padding: 10px 0px;
}

.cards-information ul li {
  display: flex;
  padding: 0px 8px 0px 0px;
  align-items: center;
  position: relative;
}

.cards-information ul li p {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.btn-num1.active,
.btn-num2.active {
  font-size: 14px;
  padding: 6px 16px;
  background-color: rgb(243, 253, 252);
  border: 1px solid rgb(5, 189, 185);
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.btn-num1,
.btn-num2 {
  font-size: 14px;
  padding: 6px 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(192, 199, 198);
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.cards-content {
  background: rgb(246, 246, 246);
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.cards-text .cards-num ul {
  flex-direction: column;
  padding: 10px;
  background: inherit;
}

.info-text {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px !important;
}

.cards-text .cards-num ul li:nth-child(2) {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.cards-text .cards-num ul li:nth-child(2) input {
  color: rgb(60, 60, 60);
  text-align: center !important;
  border: none !important;
  background: none !important;
  width: 108px !important;
  transition: all 0.2s ease 0s !important;
  box-sizing: border-box !important;
  height: 38px !important;
}

.cards-text .cards-num ul li:nth-child(2) input:focus {
  outline: rgb(5, 189, 185) solid 1px;
  border-radius: 12px;
  box-shadow: rgb(192, 219, 215) 0px 0px 6px 0px;
}

.cards-text .cards-num ul li:nth-child(2) input::placeholder {
  color: rgb(192, 199, 198);
}

.cards-text .cards-num ul li:nth-child(2) p {
  color: rgb(192, 199, 198);
}

.yearandmoth ul li {
  display: flex;
  box-sizing: border-box;
}

.yearandmoth ul {
  background: none;
  width: 100%;
  flex-direction: column;
}

.yearandmoth {
  padding: 0px 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
}

.yearandmoth ul li {
  display: flex;
  width: 100%;
}

.yearandmoth ul li input {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 0px 0px 0px 16px;
}

.yearandmoth ul li input:focus {
  outline: rgb(5, 189, 185) solid 1px;
  border-radius: 12px;
  box-shadow: rgb(192, 219, 215) 0px 0px 6px 0px;
}

.yearandmoth ul li input::placeholder {
  color: rgb(192, 199, 198);
}

.cards-password {
  margin-top: 24px;
  margin-bottom: 22px;
  display: flex;
}

.cards-password ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 12px;
}

.cards-password ul li input {
  background-color: rgb(255, 255, 255);
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 0px 0px 0px 16px;
}

.cards-password ul li input:focus {
  outline: none;
  border-radius: 12px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.sub-title {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(45, 61, 61);
}

.dialog.top-bottom {
  top: 11.5rem !important;
}

.radio-individual {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cards-information input[type="radio"] {
  display: none;
}

.cards-information .btn-radio {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0px 0px 6px;
  color: rgb(91, 100, 100);
}

.cards-information .btn-radio1::before {
  content: "";
  left: 4px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
}

.btn-radio1 {
  margin-left: 10px;
  padding: 6px;
  font-size: 14px;
}

.btn-radio2 {
  margin-left: 11px;
  padding: 6px;
  font-size: 14px;
}

.cards-information .btn-radio1::before {
  content: "";
  padding: 14px 24px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
  top: -1px;
  box-sizing: border-box;
  cursor: pointer;
}

.cards-information .btn-radio2::before {
  content: "";
  padding: 14px 24px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
  top: 0;
  box-sizing: border-box;
  left: 4px;
  cursor: pointer;
}

.cards-information input:checked+.btn-radio1::before {
  content: "";
  padding: 14px 24px;
  height: 10px;
  border: 1px solid rgb(5, 189, 185);
  top: -1px;
  box-sizing: border-box;
  cursor: pointer;
}

.cards-information input:checked+.btn-radio2::before {
  content: "";
  padding: 14px 24px;
  height: 10px;
  border: 1px solid rgb(5, 189, 185);
  top: -1px;
  left: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.change {
  display: none !important; 
}

.text-one .display-none {
  display: none;
}